{% extends "web.html.twig" %}

{% block content %}
    <div class="text-club">
        {% set content = app["triangl.website"].getComponentByAlias(article, 'content').translate(loc).getContent() %}
        {{ app.twig.render(content)|raw }}
    </div>
    <div>
        {% set gallery = app["triangl.website"].getComponentByAlias(article, 'photos') %}
        {% set image = gallery.getImages().first() %}
        <img width="100%" u="image" src="{{ app['backend.upload.fm'].getUploadPath() }}/{{ image.getFile().getName() }}" />
    </div>
{% endblock %}