<style type="text/css">
    /* web.css */
    body {
        background: #b9b39f;
        color: black;
    }
    a {
        text-decoration: none !important;
    }
    .dropdown-toggle {
        color: black !important;
    }
    .wrap {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 43px;        
        /* shadow */
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    }
    .bottom {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        padding-left: 40px;        
        padding-bottom: 40px;        
    }
    .heading {
        border-top: 3px solid #d8d9b9;
        border-left: 3px solid #d8d9b9;
        border-right: 3px solid #d8d9b9;
        background-image: url('{{ app['asset.path'] }}/LaMaler/lamaler_header.png');
        width: 900px;
        height: 415px;
    }
    .navigation {
        width: 360px;
        height: 79px;
        margin-left: auto;
        margin-top: -20px;
        background-image: url('{{ app['asset.path'] }}/LaMaler/navigation.png');
    }
    .navigation_item {
        /*display: inline-block;*/
        text-align: center;
        width: 130px;
        height: 30px;
        line-height: 30px;
        float: right;        
        margin-top: 15px;
        padding-left: 0px !important;
    }
    .navigation_item .active {
        background: #f6f5ea;
    }
    .navigation_restaurant {
        margin-right: 6px;
    }
    .navigation_club {
        margin-right: 20px;      
    }
    .navigation .dropdown {
        list-style: outside none none;
    }
    .content_wrap {        
        border-bottom: 3px solid #d8d9b9;
        border-left: 3px solid #d8d9b9;
        border-right: 3px solid #d8d9b9;        
        /* gradient */        
        background: rgba(191,51,36,1);
        background: -moz-linear-gradient(top, rgba(191,51,36,1) 0%, rgba(163,24,8,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191,51,36,1)), color-stop(100%, rgba(163,24,8,1)));
        background: -webkit-linear-gradient(top, rgba(191,51,36,1) 0%, rgba(163,24,8,1) 100%);
        background: -o-linear-gradient(top, rgba(191,51,36,1) 0%, rgba(163,24,8,1) 100%);
        background: -ms-linear-gradient(top, rgba(191,51,36,1) 0%, rgba(163,24,8,1) 100%);
        background: linear-gradient(to bottom, rgba(191,51,36,1) 0%, rgba(163,24,8,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf3324', endColorstr='#a31808', GradientType=0 );

    }
    .content {
        padding-top: 61px;
        padding-left: 58px;
        padding-right: 58px;
        padding-bottom: 58px;
        background-image: url('{{ app['asset.path'] }}/LaMaler/lamaler_header_overlay.png');
        background-repeat: no-repeat;
    }
    .content p {
        text-align: justify;
    }
    .content .text {
        width: 50%;
        float: left;
    }
    .content .gallery {
        float: right;
        padding-top: 55px;
    }
    .contact {
        width: 190px;
        height: 48px;
        line-height: 48px;
        margin-left: auto;
        text-align: center;
        color: #312b0b;
        background-image: url('{{ app['asset.path'] }}/LaMaler/contact_background.png');
        background-repeat: no-repeat;
    }
    .contact span {
        font-weight: bold;
        font-size: 18px;        
    }
</style>