{% extends "base.html.twig" %}

{% block body %}
    <div class="wrap">
        <div class="heading">
            <div class="navigation">
                <ul class="navigation_item navigation_club">
                    {% include "nav_tool_dropdown_layout.html.twig" with {menu: navigation.getChild(1)} %}
                </ul>
                <ul class="navigation_item navigation_restaurant">
                    {% include "nav_tool_dropdown_layout.html.twig" with {menu: navigation.getChild(0)} %}
                </ul>                
                <div style="clear: both;">
                </div>                
            </div>
        </div>
        <div class="content_wrap">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="bottom">
        © 2014 La Maler
    </div>
{% endblock %}