{% extends "web.html.twig" %}

{% block content %}    
    {% set content = app["triangl.website"].getComponentByAlias(article, 'content').translate(loc).getContent() %}
    {{ app.twig.render(content)|raw }}
{% endblock %}