<table class="calendar">
    <tr><th colspan='7'>{{ monthName }}&nbsp;{{ year }}</th></tr>
    <tr>
        {% for day in weekDays %}
            <td>{{ day }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% if weekDay > 1 %}
            {% for i in 1..weekDay-1 %}
                <td>&nbsp;{{ i }}</td>
            {% endfor %}
        {% endif%}
        {% set help = weekDay %}
        {% for i in 1..monthDays %}
            <td
                {% for date in bookingDays %}
                    {% if date.getDate().format('d') == i %}
                        class="{{ date.getStatus().getAlias() }} pointer"
                        {# TO = DO set translation to current locale #}
                        title="{{ date.getStatus().translate('cs').getName() }}"
                    {% endif %}
                {% endfor %}
            >{{ i }}</td>
            {% if help is divisible by(7) %}
                </tr><tr>
            {% endif %}
            {% set help = help + 1 %}
        {% endfor %}
</table>