{% extends "base.html.twig" %}

{% block body %}
    <div class="wrap">
        <div class="heading">
            <div class="heading_phone">
                <div class="heading_phone_icon">&nbsp;</div>&nbsp;777 066 842, 737 234 320                
            </div>
            <div style="clear: both;">
            </div> 
            <div class="header">
                <div>Lipno<br />&nbsp;&nbsp;&nbsp;&nbsp;Apartmán</div>
            </div>
        </div>              
        <div class="content_wrap">
            <table>
                <tr class="header_bottom">
                    <td class="menu_wrap" valign="top">
                        <div class="menu">
                            Menu
                            {% for item in navigation.getChild(0).getChildren() %}
                                {% if loop.index == 7 %}
                                    <div class="menu_item"><span>Sezóní sekce</span></div>
                                {% endif %}
                                <div class="menu_item"><a href="{{ app.path( item.getRoute(), item.getArgs() ) }}">{{ item.getCaption() }}</a></div>
                            {% endfor %}
                        </div>
                        <div class="map">&nbsp;</div>
                    </td>
                    <td class="content" valign="top">
                        {% block content %}
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </div>        
    </div>
    <div class="bottom">
        Copyright © 2014 Lipno Apartmán
    </div>
{% endblock %}