<style type="text/css">
    /* web.css */
    body {
        background: #cecdcd;
        color: black;
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/background.png');
        background-position: center 81px;
        background-repeat: no-repeat;
    }
    .bottom {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        padding-right: 40px;        
        padding-bottom: 40px;
        text-align: right;
    }
    .wrap {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        background: white;
        border-radius: 13px;
    }
    .heading_phone {
        height: 40px;
        line-height: 40px;
        float: right;
        color: #47a40b;
        margin-right: 30px;
    }
    .heading_phone_icon {
        width: 24px;
        height: 40px;
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/phone.png');
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
    }
    .header {
        width: 900px;
        height: 250px;
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/header.png');
        color: white;
        font-size: 50px;
        font-weight: bold;
        font-style: italic;
        padding-top: 50px;
        padding-left: 550px;
    }
    .content_wrap {
        
    }
    .header_bottom {
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/header_bottom.png');
        background-repeat: no-repeat;
    }
    .menu_wrap {
        padding-top: 48px;
        width: 250px;
        padding-left: 30px;
        padding-right: 30px;
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/header_bottom_left.png');
        background-repeat: no-repeat;
        background-color: #e5e5e5;        
        border-bottom-left-radius: 18px;
    }
    .content {
        width: 650px;
        border-bottom-right-radius: 18px;
        padding-top: 140px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .content_wrap table {
        background: transparent;
    }
    .menu {
        background-color: #186a03;
        color: white;
        font-size: 24px;
        border-radius: 18px;
        padding: 20px;
    }
    .map {
        margin-top: 55px;
        margin-bottom: 20px;
        height: 118px;
        background-image: url('{{ app['asset.path'] }}/LipnoApartment/map.png');
        background-repeat: no-repeat;
    }
    .menu_item a {
        color: #b0ea00;
        font-size: 14px;
    }
    .menu_item span {
        color: white;
        font-size: 14px;
    }
    .calendar .pointer {
        cursor: pointer;
    }
    .calendar {
        border: 1px solid black;
    }
    .calendar th {
        background: #efefef;
        text-align: center;
        padding: 4px;
    }
    .calendar td {
        width: 30px;
        text-align: center;
        padding: 4px;
    }
    .calendar .full {
        background: red;
    }
    .calendar .indeterminate {
        background: yellow;
    }
</style>